/*.sh
/leaderboard/*.py
/leaderboard/*.json
/leaderboard/data_rotn-lb_linuxbsd_x86_64/*
/leaderboard/data_rotn-lb_linuxbsd_arm32/*
/leaderboard/data_rotn-lb_linuxbsd_arm64/*
/leaderboard/lb
/leaderboard/*.x86_64
/leaderboard/*.sh
/leaderboard/*.arm
/leaderboard/*.css
/leaderboard/*.js
/leaderboard/*.html
